################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/UNicoAPI2/bin
/UNicoAPI2/obj
/Tester
